name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        pg: [13, 12, 11]
        check_code: ["false", "clang"]

    name: Test clickhouse_fdw
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Pull `clickhouse`
        run: docker-compose pull clickhouse
      - name: Run `clickhouse`
        run: docker-compose up -d
      - name: Build an image with the source code
        run: docker-compose -f docker-compose-extra.yml  build --build-arg CHECK_CODE=${{ matrix.check_code }} --build-arg PG_VERSION=${{ matrix.pg }} tests
        run: docker build -t tests --build-arg="GITHUB_TOKEN=${{ secrets.PRIVATE_GITHUB_TOKEN }}" .
      - name: Run the tests
        run: docker-compose -f docker-compose-extra.yml run tests
      - name: Stop clickhouse
        run: docker-compose stop clickhouse
